<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#submit_signup").submit(function(){
                alert("User has been registered successfully");
            });
        });

        $(document).ready(function(){
            $("#loginsubmit").submit(function(){
                alert("User has been registered successfully");
            });
        });
    </script>

    <style>
        body {
            font-family: Arial;
            color: white;
        }

        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .left {
            left: 0;
            background-color: #111;
        }

        .right {
            right: 0;
            background-color: white;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .centered img {
            width: 150px;
            border-radius: 50%;
        }
    </style>
</head>
<body>

<div class="split left">
    <div class="centered">
        <div class="vertical">
        <img th:src="@{'/images/reap.png'}" />
        </div>
        <div>
        <img th:src="@{'/images/reap1.png'}" th:height="60" />
        </div>

    </div>
</div>

<div class="split right">
    <div class="col-lg-10">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">

            <form enctype="multipart/form-data" class="form-vertical" th:action="@{'/login'}" th:Object="${user}" method="post" autocomplete="off">
            <div class="form-group">

                <div class="col-md-12">
                    <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                    </div>
                </div>
                <label class="control-label col-sm-2" for="email">Username:</label>
                <div class="col-sm-10">
                    <input  type="email" class="form-control" th:field="*{email}" id="email" placeholder="abc@tothenew.com"
                            name="email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pass_word">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{password}" id="pass_word" placeholder="Enter Password"
                           name="password">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <a th:href="@{/forgotPassword}">Forgot password</a>
                    <button id="loginsubmit" type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </form>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-primary">
            <div class="panel-heading">Sign Up</div>
            <div class="panel-body">
                <form enctype="multipart/form-data" autocomplete="off" class="form-horizontal" th:action="@{'/userSignUp'}" th:Object="${user}" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                        <div class="alert alert-success" role="alert" th:if="${msg1}" th:utext="${msg1}">
                        </div>
                        </div>
                        <label class="control-label col-sm-2">FirstName:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{fname}" class="form-control"
                                   id="fname" placeholder="Enter FirstName"
                                   name="fname">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">LastName:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{lname}" class="form-control" id="lname" placeholder="Enter LastName"
                                   name="lname">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label control-label col-sm-2" for="customFile">Photo:</label>
                            <div class="col-sm-10">
                                <input type="file" class="custom-file-input form-control" id="customFile">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" th:field="*{email}" id="email_id" placeholder="abc@tothenew.com"
                                   name="email">
                            <!--<span class="text-danger align-middle"
                                  th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}">
                            </span>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Enter Password"
                                   name="password" required>
                        </div>
                        <div class="col-md-10">
                            <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                         </span>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary" id="submit_signup">Register</button>
                </form>


            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

