<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REAP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{'/stylesheets/application.css'}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h5>You are successfully logged out</h5>
<h3>Click home to login again</h3>
<form th:action="@{'/home'}">
    <button class="btn-default" type="submit">Home</button>
</form>
</body>
</html>